body {
    
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
  }
  
  .container {
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  input {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
  }
  
  a {
    color: blue;
  }

  @keyframes movingLetters {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .moving-letters {
    display: inline-block;
    animation: movingLetters 2s infinite;
    font-weight: 800;
    color: darkblue;
  }

  
  